[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
dash = "*"
dash-bootstrap-components = "*"
dash-daq = "*"
plotly = "*"
pandas = "*"
python-decouple = "*"
requests = "*"
flask-mobility = "*"
python-dateutil = "*"
flask-caching = "*"
gunicorn = "*"
ipywidgets = "*"

[dev-packages]

[requires]
python_version = "3.8"
